html{
  box-sizing: border-box;
  background-color: #000;
  /* background-color: #000; */
}
*{
  font-family: "Ubuntu";
  
}
*,
*::after,
*::before{
  box-sizing: inherit;
  
}

ul[class],
ol[class]{
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd{
  margin: 0;
  
}
ul[class]{
  list-style: none;
}
img{
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select{
  font: inherit;
}
a{
  text-decoration: none;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  padding-bottom: 10px;
}

.bh{
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background: #000;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  color: #fff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  margin-right: 25px;
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

li {
  padding: 14px;
  transition: all linear 0.3s;
  
}

li:hover {
  background: gray;
  cursor: pointer;
  color: #fff;
}

.dropdown-menu {
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
  margin-right: 20px;
}
.logo{
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: left;
  justify-content: left;
  transition: font-size .5s;
}
.logo:hover{
  font-size: 25px;
}

.container{
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(34, 34, 31);
  padding: 20px;
}
.box{
  width: 200px;
  height: 200px;
  background: linear-gradient(to left,#000, #19191a);
  border-radius: 5px;
  
  border: 2px solid rgb(26, 173, 26);
}
.box_name{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  color: #fff;
  font-size: 40px;
  margin-top: 25%;
}
.circle {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  background: #000000;
  width: 20px;
  height: 20px;
  left: 0;
  opacity: 0.3;
}

.circle.sm {
  width: 30px;
  height: 30px;
}

.circle.md {
  width: 60px;
  height: 60px;
}

.circle.lg {
  width: 90px;
  height: 90px;
}
.animate_btn{
  text-align: center;
  display: flex;
  margin:  0 auto;
  justify-content: center;
  margin-top: 20px;
}